{% extends 'estoque/base.html' %}

{% block content %}
<div class="container text-center">
	<div class="text-center"><h2 class=" p-2 m-2"><i class="fas fa-fingerprint"></i> Autores<h2></div>          	{% if not user.is_authenticated %}
          	<small class="alert alert-warning"> Para mais funcionalidade na livraria, faça o login.</small>
          	{% endif %}
	<div class="row">
		<div class="col-sm-3 text-center">
			{% if user.is_authenticated %}
			<h2>Inserir Novo Autor</h2>
				<form method="post">
					{% csrf_token %}
					{{ form.non_field_errors }}
					<p>
						{{ form.nome.errors }} {{ form.nome.label_tag }} {{ form.nome }}
						<br/>
						<br/>
						<small class="alert alert-warning" id='nome_taken'></small>
					</p>

					<p>
						{{form.idade.errors}} {{ form.idade.label_tag }} {{ form.idade }}
					</p>
					<button id="btn-nome" type="submit" class="button_primary">Enviar</button>
				</form>
          	{% endif %}

		</div>
		<div id="autores-table" class="col-sm-6 mr-sm-auto">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nome</th>
						<th scope="col">Idade</th>
						{% if user.is_authenticated %}
 						<td scope="col">Alterar</td>
						<td scope="col">Deletar</td>
          				{% endif %}

					</tr>	
				</thead>

				<tbody>
					
					{% for obj in object_list %}
					<tr>
						<td scope="row">{{forloop.counter}}</td>
						<td> {{ obj.nome}} </td>
						<td> {{ obj.idade }} </td>
						{% if user.is_authenticated %}
						<td> <a href="{% url 'autor-update' obj.pk %}"><i class="fas fa-hand-pointer"></i></a> </td>
						<td> <a href="{% url 'autor-delete' obj.pk %}"><i class="fas fa-trash-alt"></a></td>
          				{% endif %}

					</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
	$('#autor-form').submit(function(event){
		event.preventDefault();
		var form = $(this)
		$.ajax({
			url: form.attr('action'),
			data: form.serialize(),
			dataType: 'json',
			method: 'POST',
			success: function (data){
				if ('errors' in data) {
					alert('Erro!');
				} else {
					$('#autores-table').load("{% url 'autor-list' %} #autores-table")
					alert('Usuario Cadastrado!')
					form.trigger('reset');
				}
			}
		});
	});
	$('#nome_taken').hide()
		$('#id_nome').keyup(function(){
			$('#nome_taken').show();
			$(this).attr('autocomplete', 'off')
			var nome = $(this).val();
			$.ajax({
				url: '{% url "autor-taken" %}',
				data: {'nome': nome},
				dataType:'json',
				success: function(data){
					if(data.is_taken){
						$('#nome_taken').html("Já Cadastrado!");
						$('#nome_taken').removeClass('alert-warning alert-success');
						$('#nome_taken').addClass('alert-danger');
						$("#btn-nome").prop('disabled', true);
						
					} else {
						$('#nome_taken').html("Nome Válido");
						$('#nome_taken').removeClass('alert-warning alert-danger');
						$('#nome_taken').addClass('alert-success');
						$("#btn-nome").prop('disabled', false);
					}
				},
			});
		});
</script>
{% endblock js %}