{% extends 'estoque/base.html' %}

{% block content %}
<div class="container text-center">
	<div class="text-center"><h2 class="p-2 m-2 "><i class="fas fa-building"></i> Editoras<h2></div>
          	{% if not user.is_authenticated %}
          	<small class="alert alert-warning"> Para mais funcionalidade na livraria, faça o login.</small>
          	{% endif %}
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nome</th>
						<th scope="col">Avaliacao</th>
						{% if user.is_authenticated %}
						<td scope="col"><i class="fas fa-hand-pointer"></i></td>
						<td scope="col"><i class="fas fa-trash-alt"></i></td>
			          	{% endif %}
					</tr>	
				</thead>

				<tbody>
					
					{% for obj in object_list %}
					<tr>
						<td scope="row">{{forloop.counter}}</td>
						<td> {{ obj.nome}} </td>
						<td> {{ obj.avaliacao }} </td>
						{% if user.is_authenticated %}
						<td> <a href="{% url 'editora-update' obj.pk %}"><i class="fas fa-hand-pointer"></i></a> </td>
						<td> <a href="{% url 'editora-delete' obj.pk %}"><i class="fas fa-trash-alt"></a></td>
			          	{% endif %}

					</tr>

					{% endfor %}
						{% if user.is_authenticated %}
					<tr>
						<td scope="row">#</td>
						<td></td>
						<td></td>
						<td colspan="6"><a href="{% url 'editora-create' %}"><i class="fas fa-plus-square"> Novo</i></a></td>						
						<td></td>
						<td></td>

					</tr>
			          	{% endif %}					

				</tbody>
			</table>
		</div>
		<div class="col-lg-2"></div>
	</div>
</div>
{% endblock content %}