{% extends 'estoque/base.html' %}

{% block content %}
<div class="container text-center">
		<h2 class="text-center m-3"><i class="fas fa-book-open"></i>  Livros</h2>
			<div class="row text-center">
				<div class="ml-sm-auto mr-sm-auto col-sm-2 text-center">
					<p class="alert alert-info">{{ page_info }}</p>
				</div>

		</div>
	</div>
</div>

	<div class="row">
		<div class="col-lg-3 col-sm-3 col-md-3 text-center">
			<h2>Buscar Livro</h2>
			<form>
				{{ form.as_p }}
				<button class="btn btn-success"><i class="fas fa-search"></i>  Filtrar</button>
			</form>
		</div>
			<div class="ml-sm-auto col-sm-8 mr-sm-auto text-center">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nome</th>
						<th scope="col">Editora</th>
						<th scope="col">Autores</th>
						<th scope="col">Avaliacao</th>
						{% if user.is_authenticated %}
						<td scope="col"><i class="fas fa-hand-pointer"></i></td>
						<td scope="col"><i class="fas fa-trash-alt"></i></td>
			          	{% endif %}

					</tr>	
				</thead>

				<tbody>
					
					{% for obj in object_list %}
					<tr>
						<td scope="row">{{forloop.counter}}</td>
						<td>{{ obj.nome}}</td>
						<td>{{ obj.editora }}</td>
						<td>{{ obj.autores }}</td>
						<td>{{ obj.avaliacao }}</td>
						{% if user.is_authenticated %}
						<td> <a href="{% url 'livro-update' obj.pk %}"><i class="fas fa-hand-pointer"></i></a> </td>
						<td> <a href="{% url 'livro-delete' obj.pk %}"><i class="fas fa-trash-alt"></i></a></td>
			          	{% endif %}

					</tr>

					{% endfor %}
					
					{% if user.is_authenticated %}
					<tr>
						<td scope="row">#</td>
						<td></td>
						<td></td>
						<td colspan="6"><a href="{% url 'livro-create'%}"><i class="fas fa-plus-square"> Novo</i></a></td>						
						<td></td>
						<td></td>
		          	{% endif %}

					</tr>
				</tbody>
			</table>
		</div>
	</div>
	        {% if not user.is_authenticated %}
	      <div class="row text-center">
          	<div class="ml-sm-auto mr-sm-auto col-sm-8">
	          	<small class="alert alert-warning"> Para mais funcionalidade na livraria, faça o login.</small>
          	{% endif %}
		
			</div>
		<div>
{% endblock content %}