{% extends 'estoque/base.html' %}

{% block content %}
<h1 class="text-center text-warning m-3">Livros</h1>

	<div class="text-center">
		<a href="{% url 'livro-search' %}">
			<i class="fas fa-search"></i><b> Buscar</b>
		</a>
	</div>
	<div class="row">
		<div class="ml-sm-auto col-sm-8 mr-sm-auto text-center">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nome</th>
						<th scope="col">Editora</th>
						<th scope="col">Autores</th>
						<th scope="col">Avaliacao</th>
						{% if user.is_authenticated %}
						<td scope="col"><i class="fas fa-hand-pointer"></i></td>
						<td scope="col"><i class="fas fa-trash-alt"></i></td>
			          	{% endif %}

					</tr>	
				</thead>

				<tbody>
					
					{% for obj in object_list %}
					<tr>
						<td scope="row">{{forloop.counter}}</td>
						<td>{{ obj.nome}}</td>
						<td>{{ obj.editora }}</td>
						<td>{{ obj.autores }}</td>
						<td>{{ obj.avaliacao }}</td>
						{% if user.is_authenticated %}
						<td> <a href="{% url 'livro-update' obj.pk %}"><i class="fas fa-hand-pointer"></i></a> </td>
						<td> <a href="{% url 'livro-delete' obj.pk %}"><i class="fas fa-trash-alt"></a></td>
			          	{% endif %}

					</tr>

					{% endfor %}
					
					{% if user.is_authenticated %}
					<tr>
						<td scope="row">#</td>
						<td></td>
						<td></td>
						<td colspan="6"><a href="{% url 'livro-create'%}"><i class="fas fa-plus-square"> Novo</i></a></td>						
						<td></td>
						<td></td>
		          	{% endif %}

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}