{% extends 'estoque/base.html' %}

{% block content %}
<div class="container">
	<div class="text-center"><h2 class="text-muted title">Lojas<h2></div>
	<div class="row">
		<div class="ml-sm-auto col-sm-8 mr-sm-auto text-center">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nome</th>
						<th scope="col">Quantidade Clientes</th>
						{% if user.is_authenticated %}
						<td scope="col"><i class="fas fa-hand-pointer"></i></td>
						<td scope="col"><i class="fas fa-trash-alt"></i></td>
			          	{% endif %}
					</tr>	
				</thead>

				<tbody>
					
					{% for obj in object_list %}
					<tr>
						<td scope="row">{{forloop.counter}}</td>
						<td> {{ obj.nome}} </td>
						<td> {{ obj.quantidade_de_clientes }} </td>
						{% if user.is_authenticated %}
						<td> <a href="{% url 'loja-update' obj.pk %}"><i class="fas fa-hand-pointer"></i></a> </td>
						<td> <a href="{% url 'loja-delete' obj.pk %}"><i class="fas fa-trash-alt"></a></td>
			          	{% endif %}


					</tr>

					{% endfor %}
						{% if user.is_authenticated %}
					<tr>
						<td scope="row">#</td>
						<td></td>
						<td><a href="{% url 'loja-create'%}"><i class="fas fa-plus-square"> Novo</i></a></td>						
						<td></td>
						<td></td>

					</tr>
			          	{% endif %}


				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}