{% extends "estoque/base.html" %}

{% block content %}
<div class="text-center">
    <h1>Login</h1>
    <h2>Anova Livraria</h2>
</div>
<div class="row">
    <div class="mr-sm-auto col-sm-4 ml-sm-auto text-center">
        {% if form.errors %}
        <p>Seu nome de usuário e senha não combinam. Por favor, tente novamente.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Sua conta não possui acesso para essa página. Para prosseguir, realize o login com uma conta que possui esse acesso.</p>
            {% else %}
            <p>Realize o login para acessar essa página.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>Usuario:</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>Senha:</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
        </form>

        <p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
    </div>
</div>
{% endblock %}